<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
    <div id="header-container">
         <div id="header">
            Mi<span class="txtVeryBig">K</span>Ma<span class="txtBig">K</span>
         </div>
    </div>
        <div id="mainContent">
                @RenderBody()
        </div>
        <div id="footer">
        developpé par Oliv et Tom, de la Oliv et Tom Company
        </div>

        @Scripts.Render("~/bundles/jquery")        
        @Scripts.Render("~/bundles/mikmak")
        @RenderSection("scripts", required: false)
    </body>
</html>
